form { border: 1px solid #CCC; padding: 2em; }

form input,
form textarea,
form select,
form label { display: block; width: 230px; }

form label { font-weight: bold; }
form input,
form textarea { border: 1px solid #CCC; width: 100%; border-radius: 4px; padding: 0.2em 0.5em; }
form input:focus,
form input:focus + .error,
form textarea:focus + .error { display: none; }

#submit { display: block; background: #080; color: #FFF; cursor: pointer; border: 0; padding: 0.4em; }
#submit:hover { background: #0A0; }


