nav div { }
nav div ul { margin: 0; padding: 0; }
nav div ul:after { display: block; content: ''; height: 1px; clear: both; }
nav div ul li { display: block; list-style: none outside; position: relative; }

nav div > ul { }
nav div > ul ul { display: none; position: absolute; left:0; top: 100%;  }
nav div > ul > li { margin-right: 5px; }
nav div li:hover > ul { display: block; }

nav div > ul {  }
nav div > ul > li { float: left; }
nav div > ul > li > a { border-radius: 6px; }

nav div > ul > li ul { padding: 5px 0 0 0; width: 140px; }
nav div > ul > li li:first-child a { border-top-left-radius: 6px; border-top-right-radius: 6px; }
nav div > ul > li li:last-child a { border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; }

nav div > ul > li > ul > li ul { left: 100%; top: 0; padding: 0 0 0 5px; }
nav div > ul > li { float: left; }

nav div ul li a { display: block; background: #82B245; color: #FFF; padding: 5px 10px; }
nav div ul li a:hover { background: #030; }


